<table mat-table [dataSource]="projects$" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="version">
        <th mat-header-cell *matHeaderCellDef> Last Release Version </th>
        <td mat-cell *matCellDef="let element"> 
            <span *ngIf="element.lastVersion">{{element.lastVersion.majorVersion}}.{{element.lastVersion.minorVersion}}.{{element.lastVersion.patchVersion}}</span>
        </td>
    </ng-container>

    <ng-container matColumnDef="releaseDate">
        <th mat-header-cell *matHeaderCellDef> Last Release </th>
        <td mat-cell *matCellDef="let element"> 
            <span *ngIf="element.lastVersion">{{element.lastVersion.releaseDate | date: 'dd-MM-yyyy'}} </span>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['name', 'version', 'releaseDate']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name', 'version', 'releaseDate'];"></tr>
</table>